header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ===================== CTA ====================== */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap:1.2rem;
    justify-content: center;
    margin-bottom: 2rem;
    
}

/* ===================== Socials ====================== */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left:0;
    bottom:3rem;
    color: var(--color-primary);
}
.header__socials>a{
    color: var(--color-white);
    font-size: 24px;
}
.header__socials>a:hover{
    transition: var(--transition);

    color: var(--color-primary);
    font-size: 24px;
}
/* .header__socials::after{
    content: '';
    width: 1px;
    height: 1rem;
    background:var(--color-primary)
} */

/* ===================== ME ====================== */

.me{
    background:linear-gradient( var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left:calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    


}
img{
 width: 20rem;
}
/* ===================== Scroll Down ====================== */

.scroll__down{
    color:var(--color-white);
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    

}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width:1024px){
   header{
    height: 100vh;
   }
  
}

/* ============= MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width:600px){
    header{
        height:80vh;
    }
    
.header__socials, .scroll__down{
        display: none;
       }
    .me{
        height: 30rem;
    }
     
}

/* ============= MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-height:800px){
    header{
        height:80vh;
        padding: 2rem;
    }
    .me{
        width: 20rem;
        left:calc(50% - 10rem);
        padding: 1rem;
        height: 20rem;
    }
    .me>img{
        width: 15rem;
    }
   
}