.caption__container{
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 70%;
    z-index: 100;
    justify-content: center;
    position: fixed;
    align-items: center;
        /* box-shadow: 0px 0px 1px rgba(250, 249, 249, 0.2); */

    background:linear-gradient(90deg, transparent, var(--color-light), transparent)

}

.caption__container h1{
    font-size: 100px;
    color: var(--color-bg);
}