nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    bottom: 2rem;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    transition: var(--transition);


}
nav:hover{
    box-shadow: 2px 0px 10px rgba(255, 255, 255, 0.6);
    transition: var(--transition);
    background: rgba(0,0,0,0.4);

    

}


nav a{
    color: var(--color-light);
    background:transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display:flex;
    font-size: 1.1rem;

}

nav a:hover{
    background: rgba(0,0,0,0.3);
    color: var(--color-white);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-primary);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width:600px){

    nav{
        max-width: 90vw;
        padding: 0.4rem;
    }
}
